<!DOCTYPE html>
<html>
	<head>
		<title>Time Tracker</title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle Navigation</span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand" href="/"><img src="<%= asset_path 'icons/clocks.svg' %>" width="30px" />&nbsp;&nbsp;Time Tracker</a>
			  	</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">		  	
					<ul class="nav navbar-nav">
						<% if current_user %>
							<li class="dropdown">
								<a href="" class="dropdown-toggle" data-toggle="dropdown">Tasks <b class="caret"></b></a>
								<ul class="dropdown-menu">
	          						<li><a href="<%= tasks_url %>">My Tasks</a></li>
	          						<li><a href="<%= tasks_history_url %>">History</a></li>
	         					</ul>
							</li>
      						<li class="dropdown">
	        					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule <b class="caret"></b></a>
	        					<ul class="dropdown-menu">
	          						<li><a href="<%= schedule_index_url %>">My Schedule</a></li>
	          						<li><a href="<%= schedule_history_url %>">History</a></li>
	          						<li class="divider"></li>
	          						<li><a href="<%= schedule_team_url %>">Team Schedule</a></li>
	         					</ul>
      						</li>
      						<% if current_user.role == Role.MANAGER || current_user.role == Role.ADMIN %>
      							<li class="dropdown">
      								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
      								<ul class="dropdown-menu">
	          							<li><a href="<%= user_tasks_report_url %>">Tasks by User</a></li>
	          							<li><a href="<%= department_tasks_report_url %>">Tasks by Department</a></li>
	          							<li><a href="<%= user_schedule_report_url %>">Schedule by User</a></li>
	          							<li><a href="<%= department_schedule_report_url %>">Schedule by Department</a></li>
	          						</ul>
      							</li>
      						<% end %>
      						<% if can? :manage, Department %>
      							<li class="dropdown">
      								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrative <b class="caret"></b></a>
		        					<ul class="dropdown-menu">
		          						<li><a href="<%= departments_url %>">Departments</a></li>
		          						<li><a href="<%= users_url %>">Users</a></li>
		          						<li class="divider"></li>
		          						<li><a href="<%= task_types_url %>">Task Types</a></li>
		          						<li><a href="<%= task_customers_url %>">Task Customers</a></li>
		          						<li><a href="<%= task_projects_url %>">Task Projects</a></li>
		          						<li class="divider"></li>
		          						<li><a href="<%= time_request_types_url %>">Time Request Types</a></li>
		         					</ul>
      							</li>
      						<% end %>
      						
						<% end %>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<% if !current_user %>
      						<li><a href="/login">Login</a></li>
      					<% else %>
      						<li><a href="/profile">Profile</a></li>
      						<li><a href="/logout">Logout</a></li>
      					<% end %>
      				</ul>
  				</div>
		  	</div>
		</nav>

		<div class="primary-background">
			<div class="container">
				<%= yield %>
			</div>
		</div>

	</body>
</html>
